<mat-card>
    <mat-card-header>
        <mat-card-title>Hi, I'm Advaith</mat-card-title>
        <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="d-flex justify-content-between">
        <img src="/assets/images/passport_size_photo.jpg" width="100" height="100">
        <div class="d-inline-flex flex-column">
            <button mat-icon-button class="btn--social">
                <i class="uil uil-linkedin-alt"></i>
            </button>
            <button mat-icon-button class="btn--social">
                <i class="uil uil-github-alt"></i>
            </button>
            <button mat-icon-button class="btn--social">
                <i class="uil uil-twitter-alt"></i>
            </button>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>