<div class="d-flex justify-content-center">
  <b style="color: #3f51b5">IMPLEMENTED FEATURES</b>
</div>
<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Data Manipulation</div>
      <ul>
        <li>Modifying <code>GET</code> API call data to populate <b>mat-table's </b> <code>MatTableDataSource</code></li>
        <li>Using <code>datepipe</code> and <code>currencypipe</code> to transform <b>date</b> and <b>price</b></li>
        <li>Using <code>slice</code> to <b>delete</b> rows and then reassigning the dataSource's data</li>
      </ul>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Table Style</div>
      <ul>
        <li>Using <code>.mat-column-<u>columnName</u></code> to set fixed <b>width</b> for columns</li>
        <li>Changing <code>th</code> and <code>td</code> color</li>
        <li>Changing <b>checkboxes</b> color for <code>normal</code>, <code>indeterminate</code> & 
          <code>ripple</code> effect
        </li>
      </ul>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Pagination, Sorting & Filtering</div>
      <ul>
        <li>Using <code>MatPagination</code> and <code>dataSource.paginate()</code> method to <b>paginate</b> data</li>
        <li>Using <code>MatSort</code> and <code>dataSource.sort()</code> method to <b>sort</b> data</li>
        <li>Using <code>dataSource.filter()</code> method to <b>filter</b> data</li>
      </ul>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Selection & Footer Rows</div>
      <ul>
        <li>Using <code>SelectionModel</code> to select rows via <b>checkboxes</b></li>
        <li>Using <code>mat-footer-cell</code> to calculate total <b>price</b> of selected rows</li>
      </ul>
    </div>
  </li>
</ol>